@use 'sass:color';
@use '../../../styles/_variables.scss';

/* ===========================
* Book a Table
============================== */
.bookingForm {
  padding: 60px 64px;
  display: grid;
  place-content: center;
  
  &__container {
    max-width: 910px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__content {
    flex: 0.5;
    min-width: 340px;
    padding: 125px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;
  }

  &__heading {
    width: 100%;
    font-size: variables.$font-size-title-md; 
  }

  &__description {
    font-size: variables.$font-size-body-md;
    font-weight: 200;
  }
}

.formContainer {
  flex: 0.5;
  padding: 60px 48px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: variables.$color-tertiary;
  color: variables.$color-primary;

  &__content {
    text-align: center;
  }

  &__heading {
    font-size: variables.$font-size-title-sm;
    font-weight: 600;
  }

  &__text {
    font-size: variables.$font-size-body-lg;
    font-weight: 400;
    width: 250px;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;

  &__fieldItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: none;
  }

  &__fieldItem:last-child {
    margin-top: 1rem;
  }

  &__label {
    display: none;
  }

  &__input {
    height: 48px;
    padding: 0 6px;
    outline: variables.$color-accent;
    border: none;
    border-bottom: 1px solid variables.$color-accent;
    background-color: transparent;
    color: inherit;
  }
}

.form__row--full {
  grid-column: 1 / -1;
}