/* ===========================
* Global styles
============================== */
body {
  font-family: $body-font;
  color: $color-secondary;
  background-color: $color-primary;
}

h1, h2, h3 {
  font-family: $heading-font;
  color: $color-secondary;
}

a {
  text-decoration: none;
  color: $color-secondary;
  
  &:hover {
    text-decoration: underline;
  }
}

/* ===========================
* Container Styles
============================== */
.linkContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
