@use 'sass:color';
@use '../../../styles/_variables.scss';

/* ===========================
* MenuCard
============================== */
.topMenu {
  padding: variables.$section-page-padding;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-family: variables.$heading-font;
  }
  
  &__heading {
    font-size: variables.$font-size-heading;
  
  }
  
  &__subheading {
    font-size: variables.$font-size-kicker;
  }
  
  &__icon {
    margin-left: 0.5rem;
  }
  
  // Menu Card
  &Container {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }
  
  &__card {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
  }
  
  &__cardFull {
    grid-column: span 2;
  }

  &__content {
    position: relative;
  }
  
  
  &__imgContainer {
    height: fit-content;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    z-index: 10;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.001),
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    );
    padding: 0 30px 15px;
    color: variables.$color-primary;
  }

  &__detailsFull {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
  
  &__title {
    color: variables.$color-primary;
    font-family: variables.$body-font;
    font-size: variables.$font-size-title-md;
  }
  
  &__text {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  
  &__body {
    flex: 0.75;
    text-align: left;
    font-size: variables.$font-size-body-md;
    font-weight: 400;
    line-height: 150%;
  }
  
  &__price {
    flex-basis: 50px;
    font-size: variables.$font-size-title-md;
    font-weight: 600;
  }
}

// Details Left
.topMenu__detailLeft {
  flex: 0.64;
}

// Detail Right
.topMenu__detailRight {}

// Kicker
.kicker {
  font-size: variables.$font-size-kicker;
  position: relative;
  margin-bottom: -0.5rem;;

  &::before {
    content: "~";
    position: absolute;
    top: 10%;
    left: -40%;
    font-size: 2.2rem;
  }

  &::after {
    content: "~";
    position: absolute;
    top: 10%;
    right: -25%;
    font-size: 2.2rem;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Reviewer
.review {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  
  &__blockquote {
  }

  &__quote {
    text-align: right;
    margin-bottom: 0.5rem;
    font-size: variables.$font-size-body-md;
    font-weight: 300;
  }

  &__reviewer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  &__reviewerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  &__avatar {
    aspect-ratio: 1 / 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    
    img {
      background: red;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__reviewerInfo {
    font-size: variables.$font-size-body-sm;
    font-weight: 400;
  }
  
  &__brandContainer {
    width: 120px;
  }
  
  &__brand {
  }
}