@use 'sass:color';
@use '../../../styles/_variables.scss';

/* ===========================
* Header
============================== */
.header {
  padding: 0 64px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: variables.$color-primary;
}

.logoContainer {

}

.navbar {

  &__item {

  }

  &__link {
    font-size: 1rem;
    font-weight: 600;

    &:hover {
      color: variables.$color-accent;
      border-color: variables.$color-accent-light;
    }
  }

}