@use 'sass:color';
@use '../../styles/_variables.scss';

// import Image1 from '../../assets/images/events/image-1.png';
// import Image2 from '../../assets/images/events/image-2.png';

:root {
  --image1: url('../../assets/images/events/image-1.png');
  --image2: url('../../assets/images/events/image-2.png');
}

/* ===========================
* Discover upcoming block
============================== */
.discover {
  background-image: url('../../assets/images/events/image-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: clamp(250px, 300px, 320px);
  display: grid;
  place-content: center;

  &__header {
    padding: 10px;
    color: variables.$color-primary;
    text-align: center;
    z-index: 1;
  }
  
  &__headline {
    font-size: variables.$font-size-subheading;
    color: inherit;
  }
}

/* ===========================
* Book a Table
============================== */
.bookingForm {
  padding: 60px 64px;
  display: grid;
  place-content: center;
  
  &__container {
    max-width: 910px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__content {
    flex: 0.5;
    min-width: 340px;
    padding: 125px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;
  }

  &__heading {
    width: 100%;
    font-size: variables.$font-size-title-md; 
  }

  &__description {
    font-size: variables.$font-size-body-md;
    font-weight: 200;
  }
}

.formContainer {
  flex: 0.5;
  padding: 60px 48px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: variables.$color-tertiary;
  color: variables.$color-primary;

  &__content {
    text-align: center;
  }

  &__heading {
    font-size: variables.$font-size-title-sm;
    font-weight: 600;
  }

  &__text {
    font-size: variables.$font-size-body-lg;
    font-weight: 400;
    width: 250px;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;

  &__fieldItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: none;
  }

  &__fieldItem:last-child {
    margin-top: 1rem;
  }

  &__label {
    display: none;
  }

  &__input {
    height: 34px;
    padding: 0 6px;
    outline: variables.$color-accent;
    border: none;
    border-bottom: 1px solid variables.$color-accent;
    background-color: transparent;
    color: inherit;
  }
}

.form__row--full {
  grid-column: 1 / -1;
}

/* ===========================
* Special feature section
============================== */
.specialFeature {
  padding: variables.$section-page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-image: url('../../assets/images/events/image-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
  &__content {
    padding: 2.5rem;
    background-color: variables.$color-accent-dark;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
  }
  
  &__description {
    font-family: variables.$body-font;
    color: variables.$color-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

  &__kicker {
    font-family: variables.$heading-font;
    font-size: variables.$font-size-kicker;
  }
  
  &__title {
    margin-top: -1rem;
    font-family: inherit;
    font-size: variables.$font-size-subheading;
    color: inherit;
  }
  
  &__text {
    max-width: 860px;
    font-size: variables.$font-size-body-xl;
    font-weight: 300;
    line-height: 1.5;
  }
}

/* ===========================
* Gallery
============================== */
.eventGallery {
  
  &__showcase {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: auto;
    // grid-template-areas: 
    //   "img1 img2 img2 img3"; // Define areas for each image
    display: flex;
    gap: 1rem;
  }

}

// .eventGallery__img {

//   &:nth-of-type(1) {
//     grid-area: img1;
//   }

//   &:nth-of-type(2) {
//     grid-area: img2;
//   }

//   &:nth-of-type(3) {
//     grid-area: img3;
//   }
// }

