@use 'sass:color';
@use '../../../../styles/variables';

/* ===========================
* MenuItem
============================== */
.menuItem {
  font-family: variables.$body-font;
  
  &__name {
    font-family: inherit;
    font-size: variables.$font-size-title-sm;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.2;
  }
  
  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  &__body {
    max-width: 381px;
    font-size: variables.$font-size-body-lg;
    font-weight: 300;
    line-height: 1.5;
  }
  
  &__price {
    font-size: variables.$font-size-title-lg;
    font-weight: 600;
  }
}

// Fix the styles
.noDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}