@use 'sass:color';
@use '../../../../styles/variables';

/* ===========================
* MenuSection
============================== */
.menu {
  padding: variables.$section-page-padding;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 40px;


  // Heading
  &__headingContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__heading {
    font-size: variables.$font-size-heading;
    text-transform: uppercase;
  }
  
  &__menus {
    padding: 40px 0 114px 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
  }
  
  &__menusContainer {
    padding: 0 40px;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    line-height: 120%;
    font-size: variables.$font-size-heading;
    font-weight: 400;
    color: inherit;
  }

  &__img {
    // width: 100%;
  }
}
